@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aprenda a construir <a href="https://docs.microsoft.com/aspnet/core">apps ASP.NET que rodam em todo lugar</a>.
    </p>
</div>
